:root {
  --clr-primary-900: rgba(221, 199, 187, 1);
  --clr-primary-100: rgba(254, 247, 242, 1);

  --clr-secondary-900: rgba(43, 27, 18, 1);
  --clr-secondary-100: rgba(79, 53, 39, 1);

  --ff-primary: "Montserrat", sans-serif;
  --fw-bold: 800;
  --fw-semi-bold: 700;
  --fw-regular: 600;

  --fs-100: .75rem;
  --fs-200: 1rem;
  --fs-300: 1.125rem;
  --fs-400: 1.25rem;
  --fs-500: 2.5rem;
  --fs-600: 3rem;
  --fs-700: 3.5rem;
  --fs-800: 4rem;
  --fs-900: 4.625rem;

  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

  --fs-nav: var(--fs-300);
  --fs-button: var(--fs-300);

}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 21.94px;
  font-family: var(--ff-primary);
  color: var(--clr-secondary-100);
  overflow: scroll;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: var(--clr-secondary-100);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

.button {
  background-color: var(--clr-secondary-900);
  color: var(--clr-primary-100);
  border-radius: 5px;
  font-size: var(--fs-200);
  font-weight: 100;
  letter-spacing: 0.15ch;
  height: 40px;
  width: 10rem;
  border: none;
}

.container {
  --max-width: 1700px;
  /* --container-padding: 1rem; */
  width: min(var(--max-width), 100% - (var(--container-padding)*2));
  margin-inline: auto;
}

.even-columns {
  display: flex;
  gap: 1rem;
}

/* nav bar */

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-700), 5vw, var(--size-800));
  font-weight: var(--fw-semi-bold);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--fw-regular);
  font-size: var(--fs-200);

}

.sign-up-block {
  display: flex;
  gap: var(--size-500);
  align-items: center;
}

.sign-up-block-img img {
  height: 1rem;
}

.primary-header {
  position: relative;
  display: block;
  background-color: var(--clr-primary-100);
  /* background-color: pink; */
  height: 90vh;
  width: 100%;
  max-width: 100%;
  /* padding: 2% 5% 2% 5%; */
  padding: 2% 7%;
}

.primary-header[data-visible] {
  display: block;
}

.mobile-nav-toggle {
  display: none;
}


@media (max-width:60em) {

  .primary-header[data-overlay] {
    position: relative;
    z-index: 999;
  }

  .primary-header {
    height: 55rem;
  }

  .primary-navigation {
    display: none;
    position: fixed;
    z-index: 10;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    max-width: 25rem;
    margin-inline: auto;
    background: var(--clr-primary-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 .75em rgb(0, 0, 0, 0.05);
  }

  .primary-header[data-overlay]::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0/0), rgb(0 0 0/0.8));
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible] {
    display: block;
  }



  .sign-up-block {
    display: none;
  }

  .mobile-nav-toggle {
    display: block;
    position: relative;
    /* top: var(--size-600);
    right: var(--size-700); */
    cursor: pointer;
    background: transparent;
    border: 0;
    width: 1.3em;
    aspect-ratio: 1;

    background-image: url('images/hamburger.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url('images/close.svg');
  }
}


/* hero */
.hero {
  /* padding: 7vh; */
  margin-top: 7%;
}

.header-text {
  text-align: left;

}

.header-text .fs-primary-heading {
  font-size: 4rem;
}

.hero-desciption {
  width: 40%;
  margin: var(--size-700) 0;
}

@media (min-width:15em) {
  .hero-desciption {
    width: 100%;
    margin: var(--size-700) 0;
  }
}

.hero__image {
  display: inline-block;
  margin: auto;
}

.hero__image img {
  /* transform: scale(1.2);
  clip-path: inset(20% 0 0 0); */


  /* Remove default inline spacing */
  width: 70%;
  height: auto;
  float: right;
  height: 50rem;
  position: relative;
  z-index: -1;
}

.hero__image {
  width: 100%;
  max-width: 100%;
  height: 70%;
  /* display: block; */
  object-fit: cover;
  display: inline-block;
  /* Ensure the container shrinks to fit the image */
  position: relative;
  /* Optional: Ensure image covers the container */
  border-radius: 8px;
  z-index: 1;
}

.header-search-bar {
  /* position: absolute;
  top: 91%;
  left: 25%;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 60rem;
  gap: 3rem;
  background-color: var(--clr-primary-900);
  border-radius: 15px;
  display: inline-block;
  margin: 0 23px;
  margin-top: -40px; */

  position: absolute;

  height: 20%;
  padding: 3%;
  align-items: center;
  bottom: -42%;
  left: 0;
  right: 0;
  margin: 10%;
  transform: translateY(-50%);
  z-index: 2;
  border-radius: 15px;
  background-color: var(--clr-primary-900);

  display: flex;
  /* Use flexbox for alignment */
  justify-content: space-between;
  /* Space out items evenly */
  gap: 10px;
  flex-wrap: wrap;
}


.header-search-bar div {
  flex: 1 1 150px;
  /* Allow divs to grow and shrink, with a minimum width */
  min-width: 150px;
  /* Ensure minimum width for responsiveness */
}

.header-search-bar input {
  width: 90%;
  /* Make input fill the div */
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

@media (max-width:47em) {
  .even-columns {
    display: flex;
    flex-direction: column;
  }

  .hero__image {
    display: none;
  }

}

@media (max-width:80em) {
  .header-search-bar {
    position: absolute;

    height: 20%;
    padding: 3%;
    align-items: center;
    bottom: -36%;
    left: 0;
    right: 0;
    margin: 10%;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 15px;
    background-color: var(--clr-primary-900);

    display: flex;
    /* Use flexbox for alignment */
    justify-content: space-between;
    /* Space out items evenly */
    gap: 10px;
    flex-wrap: wrap;
  }
}

@media (max-width:55em) {
  .header-search-bar {
    background-color: var(--clr-primary-900);
    position: absolute;
    width: 70%;
    height: 40%;
    padding: 3%;
    align-items: center;
    bottom: -55%;
    left: 0;
    right: 0;
    margin: 15%;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 15px;
    display: grid;
    /* Use flexbox for alignment */
    justify-content: center;
    /* Space out items evenly */
    gap: 10px;
    flex-wrap: wrap;
  }


  .header-search-bar input {
    width: 100%;
    /* Make input fill the div */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
}

/* score section */

.score-section {
  margin-top: 10rem;
  padding: 7%;
}

.score-div {
  height: 30rem;
}

.score-text {
  /* padding-left: var(--size-700); */
  height: 100%;
}

.score-header .fs-primary-heading {
  font-size: var(--size-800);
  margin-top: var(--size-200);
}

.score-description {
  margin: var(--size-600) 0;
  font-size: var(--fs-300);
  line-height: 1.2;
  font-weight: 700;
}

.score-list {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.score-section .container .even-columns {
  display: flex;
  gap: 3rem;
}

.score-img {
  height: 100%;
  width: 100%;
  border-radius: 18px;
}

@media (max-width:65em) {


  .score-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
  }

  .score-img {
    height: 100%;
    width: 75%;
    border-radius: 18px;
  }
}

@media (max-width:30em) {
  .score-img {
    /* height: 120%; */
    width: 75%;
    border-radius: 18px;
    margin-top: 50%;
  }

  .score-header .fs-primary-heading {
    font-size: var(--size-600);
    margin: var(--size-400) 0;
  }

  .score-description {
    font-size: var(--fs-200);
  }
}

/* 
@media (max-width:50em) {
  .score-section {
    margin-top: 10rem;
    padding: 10%; */
/* padding-top: 35%; */

/* }

  .score-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
  }

  .score-img {
    height: 100%;
    width: 75%;
    border-radius: 18px;
    margin-top: 15%;
  }
} */



/* why choose us section */

.choose-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2% 7%;
  margin-top: 3%;
}

.choose-text {
  padding-bottom: var(--size-400);
  width: 90%;
}

.choose-card {
  background-color: var(--clr-primary-900);
  border-radius: 18px;

  width: 23%;
  overflow: auto;
  text-align: left;
  padding: 2.5%;
}

.choose-description {
  font-size: var(--fs-300);
}

.choose-heading {
  padding-bottom: 5%;
  font-size: var(--fs-800);
  line-height: 1.2;
}

.choose-card-heading {
  padding: 10% 0% 5% 0%;
  font-size: var(--fs-200);
}

.choose-card-description {
  font-size: var(--fs-200);
}

.choose-logo {
  background-color: var(--clr-primary-100);
  border-radius: 8px;
  height: 4rem;
  width: 4rem;
  /* max-width: 4rem;
  max-height: 4rem; */
  padding: var(--fs-200);
  /* max-width: 4rem;
  max-height: 4rem; */
  padding: var(--fs-200);

}

.choose-card-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5vh;
}

@media (max-width:75em) {

  .choose-card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
  }


  .choose-card-heading {
    padding: 0% 0% 7% 0%;
    font-size: var(--fs-200);
  }

  .choose-card-description {
    font-size: var(--fs-200);
  }

  .choose-card {
    background-color: var(--clr-primary-900);
    border-radius: 18px;
    margin-top: 3%;
    width: 50%;
    display: flex;
    overflow: auto;
    text-align: left;
    padding: 4%;
  }


  .choose-logo {
    background-color: var(--clr-primary-100);
    border-radius: 8px;
    height: 4rem;
    width: 4rem;
    /* max-width: 4rem;
    max-height: 4rem; */
    padding: var(--size-300);
  }

  .choose-card-text {
    padding: 0% 4% 4% 7%;
    padding-top: 0%;
    width: 35vw;
  }

}


@media (max-width:30em) {
  .choose-heading {

    font-size: var(--size-600);
    margin: var(--size-400) 0;
  }

  .choose-description {
    font-size: var(--fs-200);

  }

  .choose-card-heading {
    font-size: var(--fs-100);
  }

  .choose-card-description {
    font-size: var(--fs-100);
  }


  .choose-card {
    background-color: var(--clr-primary-900);
    border-radius: 18px;
    margin-top: 3%;
    width: 70%;
    display: flex;
    overflow: auto;
    text-align: left;
    padding: 4%;
  }

  .choose-logo {
    background-color: var(--clr-primary-100);
    border-radius: 8px;
    height: 3rem;
    width: 3rem;
    /* max-width: 4rem;
    max-height: 4rem; */
    padding: var(--size-300);
  }
}

/* Residence section */

.residence-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-100);
  padding: 2% 7%;
  margin-top: 3%;
}

.residence-heading {
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: var(--fs-800);
  line-height: 1.2;
}

.residence-card-list {
  display: flex;
  width: 100%;
  /* padding: 0% 10%; */
  justify-content: space-between;
  /* gap: 8rem; */
}

.residence-card {
  border-radius: 18px;
  background-color: var(--clr-primary-900);
  overflow: hidden;
  width: 30%;
  height: 35rem;
}

.residence-card-img {
  height: 70%;
}

.residence-location {
  margin: 1%;
  font-size: 1.1rem;
  font-weight: 800;
}

.residence-name {
  display: flex;
  gap: .3rem;
  font-size: 1.1rem;
  align-items: center;
  margin-bottom: 2%;
  text-align: start;
}

.residence-button {
  background-color: var(--clr-secondary-900);
  color: var(--clr-primary-100);
  border-radius: 5px;
  font-size: var(--fs-100);
  font-weight: 100;
  letter-spacing: 0.15ch;
  height: 40px;
  width: 6rem;
  border: none;
}

.residence-name img {
  width: 10%;
  height: 50%;
}

.sm-icon {
  height: 1.5rem;
  width: 1.5rem;
  justify-content: center;
  display: flex;
  background-color: white;
}

.residence-info {
  padding: 0% 5%;
  height: 30%;
  display: grid;
}

.resi-btn {
  float: left;
}

.resi-detail-box {
  display: flex;
  padding-left: 2%;
  justify-content: space-between;
  width: 80%;
}

.residence-price-box {
  display: flex;
  justify-content: space-between;
}

.residence-price {
  padding-top: 4%;
  font-size: 1.2rem;
}

.resi-detail-text {
  font-size: 1.1rem;
}

@media (max-width:90em) {

  .residence-card {
    border-radius: 18px;
    background-color: var(--clr-primary-900);
    overflow: hidden;
    width: 30rem;
    height: 35rem;
  }

  .residence-card-2,
  .residence-card-3 {
    display: none;
  }

  .residence-card-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* padding: 0% 10%; */
    justify-content: center;
    align-items: center;
    /* gap: 8rem; */
  }
}

@media (max-width:60em) {

  .residence-price-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .resi-detail-box .even-columns {
    display: flex;
    flex-direction: row;
  }

  .resi-detail-box {
    display: flex;
    padding-left: 1%;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .residence-location {
    margin: 1%;
    font-size: 1rem;
    font-weight: 800;
  }

  .residence-card {
    border-radius: 18px;
    background-color: var(--clr-primary-900);
    overflow: hidden;
    width: 25rem;
  }

  .residence-heading {
    text-align: center;
    font-size: var(--fs-800);
    margin: var(--size-400) 0;
    line-height: 1.2;

    margin-top: 3%;
    margin-bottom: 5%;
  }

  .residence-card-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* padding: 0% 10%; */
    justify-content: center;
    align-items: center;
    /* gap: 8rem; */
  }

  .residence-card-2,
  .residence-card-3 {
    display: none;
  }

}

@media (max-width:30em) {

  .residence-button {
    background-color: var(--clr-secondary-900);
    color: var(--clr-primary-100);
    border-radius: 5px;
    font-size: var(--fs-100);
    font-weight: 100;
    letter-spacing: 0.15ch;
    height: 30px;
    width: 6rem;
    border: none;
    margin-bottom: 4%;
  }


  .residence-heading {
    text-align: center;
    font-size: 1.7rem;
    margin: var(--size-400) 0;
    line-height: 1.2;
  }


  .residence-card-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 0% 10%; */
    justify-content: space-between;
    /* gap: 8rem; */
  }

  .residence-price-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .resi-detail-box .even-columns {
    display: flex;
    flex-direction: row;
  }

  .resi-detail-box {
    display: flex;
    padding-left: 1%;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  .resi-detail-text {
    font-size: 0.85rem;
  }

  .residence-location {
    margin: 1%;
    font-size: .75rem;
    font-weight: 800;
  }

  .residence-card {
    border-radius: 18px;
    background-color: var(--clr-primary-900);
    overflow: hidden;
    width: 20rem;
    height: 25rem;
  }

  .residence-heading {
    text-align: center;
    font-size: var(--fs-500);
    margin: var(--size-400) 0;
    line-height: 1.2;
  }

  .residence-card-2,
  .residence-card-3 {
    display: none;
  }

}

/* slider */
@media (max-width:30em) {
  .slider {
    display: flex;
  }

  .slider>* {
    width: 100%;
    flex: 0 0 auto;
  }
}

/* what people say about dwello */

.people-section {
  background-color: var(--clr-primary-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-100);
  padding: 2% 7%;
  margin-top: 3%;
}

.people-card {
  background-color: var(--clr-primary-900);
  height: 31rem;
  border-radius: 18px;
  width: 30rem;
  overflow: hidden;
  margin: 2%;
}

.people-list {
  display: flex;
  /* gap: 2rem; */
  justify-content: space-between;
}

.people-card-img {
  width: 100%;
  height: 40%;
}

.people-detail,
.people-name-box {
  padding: 2% 0%;
  display: flex;
  gap: 1rem;
}

.rating-logo {
  height: 1.2rem;
}

.rating-box {
  padding: 2%;
  display: flex;
  gap: .3rem;
  background-color: white;
  border-radius: 4px;
  height: 2.3rem;
}

.people-heading-box {
  width: 70rem;
  padding: 5%;
}

.people-name-box {
  width: 70%;
}

.people-description {
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 700;
}

.people-name {
  font-size: 1.3rem;
  line-height: 1.2;
}

.people-heading {
  font-size: var(--fs-800);
  line-height: 1.2;
}

.people-location {
  margin-top: 3%;
  font-size: 1.1rem;
  line-height: 1.2;
}

.people-detail-box {
  padding: 6%;
}

@media (max-width:90em) {
  .people-heading {
    font-size: var(--fs-700);
    text-align: center;
  }

  .people-card-2,
  .people-card-3 {
    display: none;
  }
}

@media (max-width:60em) {

  .people-description {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
    padding: 5%;
  }

  .rating-box {
    padding: 2%;
    display: flex;
    gap: .3rem;
    background-color: white;
    border-radius: 4px;
    height: 2rem;
  }

  .people-card {
    background-color: var(--clr-primary-900);
    height: 30rem;
    border-radius: 18px;
    width: 25rem;
    overflow: hidden;
    margin: 2%;
  }

  .people-name {
    font-size: 1rem;
    line-height: 1.2;
  }

  .people-location {
    margin-top: 3%;
    font-size: .9rem;
    line-height: 1.2;
  }

  .people-card-2,
  .people-card-3 {
    display: none;
  }

  .people-heading-box {
    width: 50rem;
    padding: 5%;
  }

  .people-heading {
    font-size: var(--fs-700);
    text-align: center;
  }
}

@media (max-width:30em) {

  .people-description {
    font-size: .9rem;
    line-height: 1.2;
    font-weight: 700;
    padding: 5%;
  }

  .rating-box {
    padding: 2%;
    display: flex;
    gap: .3rem;
    background-color: white;
    border-radius: 4px;
    height: 1.5rem;
  }

  .people-card {
    background-color: var(--clr-primary-900);
    height: 25rem;
    border-radius: 18px;
    width: 20rem;
    overflow: hidden;
    margin: 2%;
  }

  .people-name {
    font-size: 1rem;
    line-height: 1.2;
  }

  .people-location {
    margin-top: 3%;
    font-size: .9rem;
    line-height: 1.2;
  }

  .people-card-2,
  .people-card-3 {
    display: none;
  }

  .people-heading-box {
    width: 20rem;
    padding: 5%;
  }

  .people-heading {
    font-size: var(--fs-500);
    text-align: center;
  }
}

/* Support section */
.support-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 7%;
}

.support-heading {
  font-size: var(--fs-700);
  line-height: 1.2;
  width: 60%;
  text-align: center;
  margin: 3%;
}

.support-box {
  display: flex;
  gap: 2rem;
  margin-bottom: 2%;
}

.support-box div {
  display: flex;
  gap: 1rem;
}

.support-box p {
  font-size: var(--fs-400);
}

.support-form input {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background-color: var(--clr-primary-900);
}

.support-form {
  display: flex;
  gap: 1rem;
  margin: 2%;
  width: 40%;
}

.support-form .button {

  background-color: var(--clr-secondary-900);
  color: var(--clr-primary-100);
  border-radius: 5px;
  font-size: var(--fs-200);
  font-weight: 100;
  letter-spacing: 0.15ch;
  height: 50px;
  width: 13rem;
  border: none;

}

@media (max-width:60em) {

  .support-box {
    display: flex;
    gap: 1rem;
    margin-bottom: 2%;
  }

  .support-box-img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .support-box-text {
    font-size: 1rem;
  }

  .support-heading {
    font-size: var(--fs-500);
    line-height: 1.2;
    width: 80%;
    text-align: center;
    margin: 3%;
  }

  .support-box p {
    font-size: var(--fs-200);
    margin-top: 4%;
  }


  .support-form .button {
    background-color: var(--clr-secondary-900);
    color: var(--clr-primary-100);
    border-radius: 5px;
    font-size: var(--fs-100);
    font-weight: 100;
    letter-spacing: 0.15ch;
    height: 35px;
    width: 13rem;
    border: none;

  }

  .support-form {
    display: flex;
    gap: 1rem;
    margin: 4%;
    width: 70%;
  }

  .support-form input {
    width: 100%;
    padding: 7px;
    border-radius: 8px;
    border: none;
    font-size: var(--fs-100);
    background-color: var(--clr-primary-900);
  }

}

@media (max-width:30em) {
  .support-box-text {
    font-size: 1rem;
  }


  .support-heading {
    font-size: 1.7rem;
    line-height: 1.2;
    width: 90%;
    text-align: center;
    margin: 3%;
  }

  .support-box p {
    font-size: var(--fs-100);
    margin-top: 4%;
  }


  .support-form .button {
    background-color: var(--clr-secondary-900);
    color: var(--clr-primary-100);
    border-radius: 5px;
    font-size: var(--fs-100);
    font-weight: 100;
    letter-spacing: 0.15ch;
    height: 35px;
    width: 13rem;
    border: none;

  }

  .support-form {
    display: flex;
    gap: 1rem;
    margin: 4%;
    width: 70%;
  }

  .support-form input {
    width: 100%;
    padding: 7px;
    border-radius: 8px;
    border: none;
    font-size: var(--fs-100);
    background-color: var(--clr-primary-900);
  }

}

/* footer */
.footer-logo-part h3 {
  width: 20ch;
}

footer {
  background-color: var(--clr-primary-900);
  display: flex;
  padding: 2% 7%;
  /* gap: 12rem; */
  justify-content: space-between;
  padding-top: 5%;
}

.footer-list {
  width: 13ch;
}

.footer-social-logo {
  height: 2rem;
}

.footer-logo {
  padding-bottom: 10%;
}

.footer-text,
.footer-heading {
  margin-bottom: 25%;
}

.footer-heading {
  font-size: 1.5rem;
}

.footer-text,
.footer-description {
  font-size: 1rem;
}

.footer-heading ul {
  gap: 3rem;

}

@media (max-width:60em) {
  footer {
    background-color: var(--clr-primary-900);
    display: flex;
    padding: 2% 7%;
    flex-direction: column;
    /* gap: 12rem; */
    align-items: start;
    padding-top: 5%;
  }

  .footer-heading {
    font-size: 1.3rem;
    margin-top: 7%;
  }

  .footer-text,
  .footer-description {
    font-size: 1rem;
    margin-bottom: 10%;
  }

  .footer-list .even-columns {
    display: flex;
    flex-direction: row;
  }

}

@media (max-width:30em) {
  footer {
    background-color: var(--clr-primary-900);
    display: flex;
    padding: 2% 7%;
    flex-direction: column;
    /* gap: 12rem; */
    align-items: start;
    padding-top: 5%;
  }

  .footer-heading {
    font-size: 1.1rem;
    margin-top: 7%;
  }

  .footer-text,
  .footer-description {
    font-size: 1rem;
    margin-bottom: 10%;
  }

  .footer-list .even-columns {
    display: flex;
    flex-direction: row;
  }

}


/* utility classes */

.bg-primary-900 {
  background-color: var(--clr-primary-900);
}

.bg-secondary-100 {
  background-color: var(--clr-primary-100);
}

.text-primary-900 {
  color: var(--clr-primary-900);
}

.text-secondary-900 {
  color: var(--clr-secondary-100);
}

.ff-primary {
  font-family: "Montserrat", sans-serif;
}

.fs-extra-sm {
  font-size: 1rem;
  line-height: 1.2;
}

.fs-primary-heading {
  font-size: var(--fs-800);
  line-height: 1.2;
}

.fs-secondary-heading {
  font-size: var(--fs-300);
  line-height: 1.2;
}

.fw-bold {
  font-weight: 800;
}

.fw-semi-bold {
  font-weight: 700;
}

.fw-regular {
  font-weight: 600;
}

.mx-auto {
  margin-inline: auto;
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.margin-block-900 {
  margin-block: var(--size-900);
}

.margin-bllock-700 {
  margin-block: var(--size-700);
}